* {
  margin: 0px;
  padding: 0px;
  border: none;
  font-family: "Overpass", sans-serif;
}

body {
  background-color: var(--veryDarkBlue);
}

/* to do: de convertit hsl la hex */
:root {
  --orange: hsl(25, 97%, 53%);
  --veryDarkBlue: hsl(216, 12%, 8%);
  --darkBlue: hsl(213, 19%, 18%);
  --lightGray: hsl(217, 12%, 63%);
  --white: hsl(0, 0%, 100%);
}

.rating-card-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-card-container{
  width: 340px;
  background-color: var(--darkBlue);
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 10px;
}

.button-star{
  font-size: 12px;
  font-weight: 500;
  background-color: var(--veryDarkBlue);
  padding: 16px;


  border-radius: 50%;
  cursor: pointer;
}

.rating-card-title{
  margin-top: 24px;
  color: var(--white);
  font-size: 28px;
}

.paragraph-container{
    overflow: auto;
    margin-top: 16px;
    color: var(--white);
    line-height: 24px;
}

.rating-card-button-submit{
  font-size: 12px;
  font-weight: 500;
  background-color: var(--orange);
  color: black;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  border-radius: 16px;
  cursor: pointer;
  margin-top: 24px;

  width: 100%;
  letter-spacing: 2px;
  font-weight: bold;

  transition-property: background-color,color;
  transition-duration: 0.25s;
}

.rating-card-button-submit:hover{
  background-color: var(--white);
  color: var(--veryDarkBlue);
}

.rating-card-buttons-container button {
  font-size: 12px;
  font-weight: 500;
  background-color: var(--lightGray);
  padding: 16px;
  color: var(--white);
  margin-top: 24px;
  border-radius: 50%;
  cursor: pointer;
  height: 48px;
  width: 48px;
  transition-property: background-color,color;
  transition-duration: 0.25s;
}

.rating-card-buttons-container button:hover{
background-color: var(--white);
color: var(--veryDarkBlue);
}

.rating-card-buttons-container button.active-button {
background-color: orange;
}

.rating-card-buttons-container{
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  gap: 16px;
}

.selected-rate-text {
  color: var(--white);
}

/*pasul 2*/

.card-doi{
  display: none;
  position: relative;
}

.nu-imi-vine-nume{
  color: orange;
}

.reset-button{
  font-size: 16px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: var(--white);
  background-color: transparent;

  cursor: pointer;
  border-radius: 16px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.reset-button-icon{
  margin-right: 4px;
}

.secound-card-title{
  color: var(--white);
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  margin-top: 24px;
}

.secound-paragraph-container{
  overflow: auto;
  margin-top: 16px;
  color: var(--white);
  line-height: 24px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}

@media (min-width: 500px) {
    .paragraph-container{
        text-align: left;
        max-width: 400px;
    }
}
